<div class="cameraDiv grid" style="margin-bottom: 1%">
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 1</h3> -->
    <h4 style="color: #191919">Location : </h4>
    
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas"
    ></canvas>
  </div>

  <div class="col-6 camera2">
    <!-- <h3 style="color: #191919">Cam 2</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas1"
    ></canvas>
  </div>
</div>
<div class="cameraDiv grid">
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 3</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas2"
    ></canvas>
  </div>
  <div class="col-6 camera2">
    <!-- <h3 style="color: #191919">Cam 4</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas3"
    ></canvas>
  </div>
</div>
<div class="cameraDiv grid">
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 5</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas4"
    ></canvas>
  </div>
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 6</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas5"
    ></canvas>
  </div>
</div>
<div class="cameraDiv grid">
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 7</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas6"
    ></canvas>
  </div>
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 8</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas7"
    ></canvas>
  </div>
</div>
<div class="cameraDiv grid">
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 9</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas8"
    ></canvas>
  </div>
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 10</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas9"
    ></canvas>
  </div>
</div>
<div class="cameraDiv grid">
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 11</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas10"
    ></canvas>
  </div>
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 12</h3> -->
    <h4 style="color: #191919">Location : </h4>
    
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas11"
    ></canvas>
  </div>
</div>
<div class="cameraDiv grid">
  <div class="col-6 camera1">
    <!-- <h3 style="color: #191919">Cam 13</h3> -->
    <h4 style="color: #191919">Location : </h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas12"
    ></canvas>
  </div>
  <!-- <div class="col-6 camera1">
    <h3 style="color: #191919">Cam 6</h3>
    <h4 style="color: #191919">Location : Industrial Area</h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      id="canvas5"
    ></canvas>
  </div> -->
</div>
<script type="text/javascript" src="assets/jsmpeg.min.js"></script>
<!-- <div *ngFor="let camera of cameras" class="cameraDiv grid">
  <div class="col-6 camera1">
    <h3 style="color: #191919">{{ camera.name }}</h3>
    <h4 style="color: #191919">Location: {{ camera.location }}</h4>
    <canvas
      style="height: 200px; width: 100%; border: 1px solid #707070"
      [attr.id]="'canvas' + camera._id"
    ></canvas>
  </div>
</div> -->