<div class="statusTable">
  <div>
    <b style="font-size: 22px">Illegal Parking Detection</b>
    <div style="float: right; display: flex;">
      <span>
        <button
          (click)="onclickDownloadReport()"
          class="illigalDownload p-button-lg"
          pButton
          pRipple
          icon="pi pi-download"
          pTooltip="Download"
        ></button> </span
      >&nbsp;
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search"
          class="p-inputtext-sm searchInputilligal"
        />
      </span>
    </div>
  </div>
  <!--     
    <p-calendar  [(ngModel)]="startDate"  dateFormat="yy-mm-dd" ></p-calendar>&nbsp;
    <p-calendar [(ngModel)]="endDate" dateFormat="yy-mm-dd"></p-calendar>
    <button (click)="applyFilter()">Apply Filter</button> -->
  <div class="WrongsideTable">
    <p-table
      [globalFilterFields]="[
        'vehiclecount',
        'vehicletype',
        'date',
        'time',
        'cameratype',
        'location'
      ]"
      #dt
      [value]="illigalArray"
      [rows]="itemsPerPage"
      [paginator]="false"
      styleClass="p-datatable-sm illigalTable customPaginator"
    >
      <ng-template pTemplate="header" let-columns>
        <tr class="tableHeader">
          <th>Sr.No</th>
          <!-- <th>Vehicle Name</th> -->
          <th pSortableColumn="date" style="width: 20%">
            Date <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th>Time</th>
          <th>Camera No</th>
          <th pSortableColumn="location" style="width: 20%">
            Location <p-sortIcon field="location"></p-sortIcon>
          </th>
          <th style="width: 15%">Action</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <!-- <td>{{ rowData.vehicletype }}</td> -->
          <td>{{ rowData.date | date : "dd-MMM yyyy"  }}</td>
         <td>{{ rowData.time}}</td>
          <td>{{ rowData.cameratype }}</td>
          <td>{{ rowData.location }}</td>
          <td>
            <button
              pTooltip="Video"
              style="height: 35px; width: 35px; background-color: #6366f1"
              (click)="onClickShowvideo(rowData._id, rowData.name)"
              pButton
              pRipple
              type="button"
              icon="pi pi-caret-right"
              class="p-button-rounded"
            ></button>
            &nbsp;
            <button
              pTooltip="Image"
              tooltipPosition="left"
              style="height: 35px; width: 35px; background-color: #6366f1"
              (click)="onClickShowphoto(rowData._id, rowData.name)"
              pButton
              pRipple
              type="button"
              icon="pi pi-image"
              class="p-button-rounded"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="(currentPage - 1) * itemsPerPage"
      [rows]="itemsPerPage"
      [totalRecords]="totalItems"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {{ first }} to {{ itemsPerPage }} of {{
        totalItems
      }} entries"
      class="customPaginator"
    ></p-paginator>
  </div>
</div>

<p-dialog
  [modal]="true"
  header="Illegal Parking  Detection Video"
  [(visible)]="illigalParkingVideo"
  (onHide)="onClickCanclevideo()"
  [style]="{ width: '70vh', height: 'auto' }"
>
  <div class="">
    <video width="470" height="300" controls autoplay>
      <source [src]="illigalParkingvideoUrl" type="video/mp4" />
    </video>
    <!-- {{wrongSideVideoUrl}} -->
  </div>
</p-dialog>
<p-dialog
  [modal]="true"
  header="Illegal Parking  Detection Photo"
  [(visible)]="illigalParkingPhoto"
  (onHide)="onClickCanclePhoto()"
  [style]="{ width: '90%', height: 'auto' }"
>
  <div class="">
    <div style="">
      <i (click)="zoomInImage()" style="cursor: pointer">
        <img
          style="width: 90%; height: auto"
          [src]="illigalParkingImageUrl"
          alt=""
        />
      </i>
    </div>
  </div>
</p-dialog>

<!-- <p-dialog [modal]="true" header="Illegal Parking Detection Photo" [(visible)]="IllegalParkingzoomPhoto"
  [style]="{width: '90%', height: '100%'}">
  <div class="">
    <div style=""> 
            <img id="zoomedImage" class=""  [src]="illigalParkingImageUrl" alt="">
    </div>

  </div>
</p-dialog> -->
<p-dialog
  [modal]="true"
  header="Download Illegal Parking Report"
  [closable]="true"
  [(visible)]="downloadReport"
  [style]="{ width: '70%', height: '55vh' }"
  styleClass="illigalStatus"
  (onHide)="onClickCancel()"

>
  <form action="" [formGroup]="downloadForm">
    <div class="grid">
      <!-- <div class="col-4">
                <div class="grid-content">
                    <label for="">Table Name </label>
                    
                    <input class="inputStyle" formControlName="tableName" ngClass="formInput" type="text" pInputText
                        placeholder="Enter" required readonly />

                </div>
            </div> -->
      <div class="col-4">
        <div class="grid-content">
          <label for="">Start Date <span style="color: red">*</span></label>
          <input
            type="date"
            class="inputDateStyle"
            formControlName="startDate"
            appendTo="body"
            dateFormat="yy-mm-dd"
            required
            inputId="dateformat"
            (change)="onDateChange1($event)"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="grid-content">
          <label for="">End Date <span style="color: red">*</span></label>
          <input
            type="date"
            class="inputDateStyle"
            formControlName="endDate"
            [max]="today"
            appendTo="body"
            dateFormat="yy-mm-dd"
            required
            inputId="dateformat1"
            (change)="onDateChange($event)"
          />
        </div>
      </div>
      <div class="col-4">
        <div class="grid-content">
          <label for="">Choose Camera <span style="color: red">*</span> </label>
          <p-dropdown
            class="inputDropdownStyle"
            formControlName="cameratype"
            (onChange)="onclickcameraEvent($event)"
            optionLabel="cameraTypes"
            [options]="cameraType"
            optionValue="cameraTypes"
            appendTo="body"
            styleClass="dropdown1"
            placeholder="Select"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-4">
        <div class="grid-content">
          <label for="">Start Time <span style="color: red">*</span></label>
          <input
            class="inputStyle"
            formControlName="startTime"
            ngClass="formInput"
            type="time"
            pInputText
            placeholder="Enter"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="grid-content">
          <label for="">End Time <span style="color: red">*</span></label>
          <input
            class="inputStyle"
            formControlName="endTime"
            ngClass="formInput"
            type="time"
            pInputText
            placeholder="Enter"
            required
          />
        </div>
      </div>
      <div class="col-4">
        <div class="grid-content">
          <label for="">Choose Format <span style="color: red">*</span></label>
          <p-dropdown
            (onChange)="onDropdownChange($event)"
            class="inputDropdownStyle"
            formControlName="formate"
            optionLabel="formates"
            [options]="formate"
            optionValue="formates"
            appendTo="body"
            styleClass="dropdown"
            placeholder="Select"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <div class="grid">
   
    </div>

    <div style="float: right; margin-top: 3%">
      <button
        (click)="onClickCancel()"
      
        pButton
        label="Cancel"
        type="button"
        pRipple
        icon="pi pi-times-circle"
        class="cancelBtn p-button-outlined"
      ></button
      >&nbsp;
      <button
        (click)="onClickDownloadReport()"
        [disabled]="!downloadForm.valid"
        class="reportBtn p-button-outlined"
        pButton
        label="download"
        type="button"
        pRipple
        icon="pi pi-download"
      ></button>
    </div>
  </form>
</p-dialog>
